.pt-control-group:not(:last-child) {
  margin-bottom: 20px;
}

.AddPageForm,
.EditPageForm {
  /* padding: 24px; */
}

.grid-container {
  display: grid;
  grid-template-columns: 170px auto 170px;
  grid-gap: 38px;
}

.renameme1 {
  margin: 24px;
}

.pt-html-table {
  width: 100%;
}
